body { 
    background-color: #f1f1f1;
  }
  
  .main {
    margin-left: 25px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .main {padding-top: 15px;}
    .main a {font-size: 18px;}
  }
  
  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color:  #a6d8d8;
    margin-top: 10px;
    margin-left: 7px;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  
  
  
  
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    max-width: 311px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color:white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .button1{
    background-color:black;
    color:white;
    border: none;
  }
  
  .button1:hover{
    background-color: lightslategrey;
    color: red;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  

